{% extends "layout.html" %}
{% load static %}
{% block content %}
  <div class="container" style="margin-top: 120px;">
    {% if alerte %}
    <div class="alert alert-dismissible {% if alerte.success %} alert-success {% else %} alert-danger  {% endif %}"
      role="alert">
      {{alerte.message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="row">
      <div class="col">
        <button class="btn {% if site_edit %} btn-secondary {% else %} btn-primary {% endif %}"
          id="btn_form_ajouter_site">
          {% if site_edit %} Annuler {% else %} Ajouter un site {% endif %}
        </button>

        <form class="card p-3" style="display: {% if site_edit %} block {% else %} none {% endif %} ;"
          id="form_ajouter_site" action="{% url 'ajouter-site' %}" method="post">

          <div class="mb-1">
            <label for="designation" class="form-label">Désignation *</label>
            <input type="text" name="designation" {% if site_edit %} value="{{site_edit.designation}}" {% endif %}
              required="required" class="form-control" id="designation">
          </div>

          <div class="form-check">
            <label class="form-check-label" for="femme">Femme</label>
            <input class="form-check-input" type="radio" {% if site_edit and site_edit.sexe == "F" %} checked {% endif %}
              name="sexe" value="F" id="femme" checked>
          </div>
          <div class="form-check">
            <label class="form-check-label" for="homme">Homme</label>
            <input class="form-check-input" type="radio" {% if site_edit and site_edit.sexe == "M" %} checked {% endif %}
              value="M" name="sexe" id="homme">
          </div>

          <div class="mb-1">
            <label for="description" class="form-label">Informations supplémentaires</label>
            <textarea name="description" class="form-control" id="description" cols="30"
              rows="2">{% if site_edit %}{{site_edit.description}}{% endif %}</textarea>
          </div>
          <hr>
          <h5>Dortoirs
            <button type="button" class="btn btn-primary" id="ajouter_dortoir">Ajouter un dortoir</button>
          </h5>
          <table class="table">
            <thead>
              <th>Code</th>
              <th>Capacité</th>
              <th></th>
            </thead>
            <tbody id="tbody_dortoitrs"></tbody>
          </table>
          <input type="hidden" name="id" id="id_site" value="{{site_edit.id}}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Enregistrer le site</button>
        </form>
      </div>
    </div>

    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sites</th>
            <th>Informations supplémentaires</th>
            <th>Genre</th>
            <th>Dortoirs</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for site in sites %}
          <tr>
            <td> {{site.designation}} </td>
            <td>{{site.description}}</td>
            <td>{{site.sexe}}</td>
            <td>
              <table class="table">
                <tbody>
                  {% for dortoir in site.dortoirs %}
                  <tr>
                    <td>{{dortoir.code}}</td>
                    <td>{{dortoir.capacite}}</td>
                    <td>{{dortoir.occupation}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
            <td>
              <a href="{% url 'site-edit' id=site.id %}" class="btn btn-primary">Modifier</a>
              <form action="{% url 'supprimer-site' %}" style="display: inline-block;" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{site.id}}">
                <button class="btn btn-danger"> Supprimer </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block scrit %}
  {% if site_edit %}
  <script>
    var csrf = '{% csrf_token %}'
    var dortoirs_du_site = {{ site_edit.dortoirs | safe}}
  </script>
  {% endif %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sites.js'%}"></script>
{% endblock %}