{% extends "layout.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
  <main class="no-bg">
    <div class="container" style="margin-top: 120px;">
      {% if alerte %}
        <div class="alert alert-dismissible {% if alerte.success %} alert-success {% else %} alert-danger  {% endif %}" role="alert">
          {{alerte.message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <div class="row">
        <div class="col">
          <form class="card p-3 " action="{% url 'update-participant' %}" method="post">

            <h1 class="title p-3  text-center">Formulaire d'enregistrement <br> Registration form </h1>

            <div class="mb-3">
              <label for="first_name" class="form-label">Prénom / First name *</label>
              <input type="text" autocomplete="off" name="first_name" required="required" value="{{person.first_name}}"
                class="form-control" id="first_name">
            </div>

            <div class="mb-3">
              <label for="last_name" class="form-label">Nom / Last name *</label>
              <input type="text" autocomplete="off" name="last_name" required="required" value="{{person.last_name}}" class="form-control"
                id="last_name">
            </div>

            <div class="mb-3">
              <label for="phone_number" class="form-label">Numéro de téléphone / Phone number *</label>
              <input type="text" autocomplete="off" name="phone_number" value="{{person.phone_number}}" required="required"
                class="form-control" id="phone_number">
            </div>

            <div class="mb-3">
              <label for="formFile" class="form-label">Photo </label>
              <input class="form-control" type="file" id="formFile">
              <input type="hidden" name="resizephoto" id="resizephoto">
              <div id="result"></div>
              <button type="button" class="btn btn-danger" style="display: none;"  id="button">Rogner / Crop</button>
            </div>

            <div class="mb-3">
              <label for="cni" class="form-label">Numéro CNI / NIC number </label>
              <input type="text" minlength="9" autocomplete="off" {% if person.cni %} value="{{person.cni}}" {% endif %} name="cni" class="form-control" id="cni">
            </div>

            <div class="mb-3">
              <label for="paroisse" class="form-label">Paroisse / Parish *</label>
              <input type="text" name="paroisse" value="{{person.paroisse}}" required="required" class="form-control"
                id="paroisse">
            </div>

            <div class="mb-3">
              <label for="diocese" class="form-label">Diocèse / Diocese *</label>
              <select class="form-select" name="diocese" required="required" id="diocese">
                {% for diocese in dioceses %}
                <option value="{{diocese}}" {% if diocese == person.diocese %} selected {% endif %}>{{diocese}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="type" class="form-label">Type *</label>
              <select class="form-select" name="type" required="required" id="type">
                <option value="Laïc" {% if 'Laïc' == person.type %} selected {% endif %}>Laïc</option>
                <option value="Prêtre" {% if 'Prêtre' == person.type %} selected {% endif %}>Prêtre</option>
                <option value="Religieux" {% if 'Religieux' == person.type %} selected {% endif %}>Religieux</option>
                <option value="Frère" {% if 'Frère' == person.type %} selected {% endif %}>Frère</option>
                <option value="Diacre" {% if 'Diacre' == person.type %} selected {% endif %}>Diacre</option>
                <option value="Séminariste" {% if 'Séminariste' == person.type %} selected {% endif %}>Séminariste</option>
                <option value="Autre" {% if 'Autre' == person.type %} selected {% endif %}>Autre</option>
              </select>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="femme">Femme / Female </label>
              <input class="form-check-input" type="radio" {% if person.sexe == "F" %} checked {% endif %}
                name="sexe" value="F" id="femme" checked>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="homme">Homme / Male</label>
              <input class="form-check-input" type="radio" {% if person.sexe == "M" %} checked {% endif %}
                value="M" name="sexe" id="homme">
            </div>

            <div class="mb-3">
              <label for="age" class="form-label">Âge / Age *</label>
              <select class="form-select" autocomplete="off" name="age" required="required" id="age">
                {% for age in ages %}
                <option value="{{age}}" {% if age == person.age %} selected {% endif %}>{{age}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="polo" class="form-label">Taille du polo / Size of the polo *</label>
              <select class="form-select" name="polo" required="required" id="polo">
                <option value="L" {% if 'L' == person.polo %} selected {% endif %}>L</option>
                <option value="S" {% if 'S' == person.polo %} selected {% endif %}>S</option>
                <option value="M" {% if 'M' == person.polo %} selected {% endif %}>M</option>
                <option value="XL" {% if 'XL' == person.polo %} selected {% endif %}>XL</option>
                <option value="XXL" {% if 'XXL' == person.polo %} selected {% endif %}>XXL</option>
                <option value="XXXL" {% if 'XXXL' == person.polo %} selected {% endif %}>XXXL</option>
              </select>
            </div>

            <div class="card">
              <div class="card-body">
                <h5>Informations médicales / Medical information</h5>
                <br>
                <div class="row">
                  <div class="col col-12 col-sm-12">
                    <label for="allergies" class="form-label">Allergies / Allergies</label>
                    <input type="text" name="allergies" value="{{person.allergies}}" class="form-control" id="allergies">
                  </div>
                  <div class="col col-12 col-sm-12">
                    <label for="groupe_sanguin" class="form-label">Groupe sanguin / Blood group </label>
                    <select class="form-select" name="groupe_sanguin" id="groupe_sanguin">
                      <option></option>
                      {% for groupe in groupes_sangs %}
                      <option value="{{groupe}}" {% if person.groupe_sanguin == groupe %} selected {% endif %} >{{groupe}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col col-12 col-sm-12">
                    <label for="maladies" class="form-label">Maladies / Diseases</label>
                    <textarea name="maladies" class="form-control" id="maladies" cols="30" rows="3">{{person.maladies}}</textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5>Personne à contacter / Contact Person</h5>

                <div class="mb-3">
                  <label for="person_contacter_name" class="form-label"> Nom complet / Full name *</label>
                  <input type="text" name="person_contacter_name" required="required" class="form-control"
                    id="person_contacter_name" value="{{person.person_contacter_name}}">
                </div>

                <div class="mb-3">
                  <label for="person_contacter_phone" class="form-label">Numéro de téléphone / Phone number *</label>
                  <input type="text" name="person_contacter_phone" required="required" class="form-control"
                    id="person_contacter_phone" value="{{person.person_contacter_phone}}">
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="encadreur" class="form-label">Code accompagnateur / Companion code</label>
              <input type="text" autocomplete="off" name="encadreur" {% if person.encadreur %} value="{{person.encadreur}}" {% endif %} class="form-control" id="encadreur">
            </div>
            <br>
            <input type="hidden" name="id" value="{{person.id}}">
            {% csrf_token %}
            {% if not person.produit %}
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
            {% else %}
            <p class="text-danger">Le badge de ce participant a déjà été produit. Ses informations ne peuvent plus être modifiées.</p>
            {% endif %}
          </form>
        </div>
        <div class="col">
          <div class="">
            <h3> {{person.code}} </h3>
            <p class="m-0">Enregistrement fait le : {{createdat}}</p>
            <p>
                Logement:
                <strong>Site :</strong> {{person.dortoir.site.designation}} ({{person.dortoir.site.description}})  / 
                <strong>Dortoir :</strong>{{person.dortoir.code}}
            </p>
            {% if person.photo %}
            <img style="width: 150px;" class="p-1" src="{{person.photo}}">
            {% endif %}
            <img style="height:150px" class="p-1" src="data:image/png;base64,{{ qrcode | safe }}">
            <p>
              <div class="row">
                <div class="col">
                  <a class="btn btn-primary"  target="_blank" href="{% static 'badges/' %}{{person.id}}.pdf">Télécharger le badge</a>
                </div>
                {% if person.photo %}
                <div class="col">
                  <form action="{% url 'remove-photo' %}" method="post">
                    <input type="hidden" name="id" value="{{person.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> Supprimer la photo</button>
                  </form>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="col">
                  {% if not person.produit %}
                  <form action="{% url 'check-badge-produit' %}" method="post">
                    <input type="hidden" name="id" value="{{person.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"> Badget Produit</button>
                  </form>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block scrit %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/cropper.min.js' %}"></script>
  <script src="{% static 'js/photo.js' %}"></script>
{% endblock %}